<div #topSection *ngIf="product" class="p-6 md:p-10" [ngClass]="{ 'h-full flex items-center justify-center': isRequestSuccessful }">
  <ng-container *ngIf="!isRequestSuccessful">
    <h1 class="text-3xl text-primary mb-10 uppercase font-medium">{{product}}</h1>
    <div class="grid md:grid-cols-4 2xl:grid-cols-5 gap-4">
      <button type="button" class="text-left" *ngFor="let section of wizardService.sections; let i = index"
        (click)="wizardService.navToSection(i)">
        <div class="card"
          [ngClass]="{'bg-gradient-primary-to-accent text-white' : !section?.hidden, 'bg-slate-200 text-gray-400': (!section.completed && section.hidden), 'border border-success-500': section.completed}">
          <div class="flex justify-between">
            <div>
              <span class="rounded-full border px-2 py-0.5"
                [ngClass]="{'border-gray-400': (!section.completed && section.hidden)}">{{i + 1}}</span>
              <span class="ml-2">{{section.title}}</span>
            </div>
            <div *ngIf="section.completed">
              <i-feather name="check-circle" class="text-success-500 align-bottom"></i-feather>
            </div>
          </div>
        </div>
      </button>
    </div>
    <br>
    <ng-container *ngIf="requestFailed">
      <div class="relative card bg-red-50 flex items-center gap-2.5 text-red-600 border border-red-600 rounded-md">
        <i-feather name="alert-circle"></i-feather>
        <p role="button" (click)="requestFailed = !requestFailed" class="absolute top-2 right-3 text-red-600">×</p>
        <div>
          <h2 class="text-sm font-medium">Sorry, something went wrong!</h2>
          <p class="text-xs text-slate-600">{{ errorMessage ? errorMessage : "We were unable to process your request at this time. Please try again later or contact support for assistance."}}</p>
        </div>
      </div>
      <br />
    </ng-container>
    <div class="card pt-10 pb-20">
      <ng-container *ngIf="wizardService.selectedSection.title == 'Basic Info'">
        <app-basic-info [form]="getFormGroup('basicInfo')" [countries]="countries"></app-basic-info>
      </ng-container>
      <ng-container *ngIf="wizardService.selectedSection.title == 'Business Info'">
        <app-business-info [form]="getFormGroup('businessInfo')" [countries]="countries"></app-business-info>
      </ng-container>
      <ng-container *ngIf="wizardService.selectedSection.title == 'Documents'">
        <app-form-documents [form]="getFormGroup('documents')" [averageMonthlyTransValue]="form.get('businessInfo.averageMonthlyTransValue')?.value"></app-form-documents>
      </ng-container>
      <ng-container *ngIf="wizardService.selectedSection.title == 'Preview'">
        <app-preview [form]="form" [countries]="countries" (requestStatus)="onRequestStatus($event)"></app-preview>
      </ng-container>
    </div>
  </ng-container>

  <ng-container *ngIf="isRequestSuccessful">
    <div class="text-center">
      <i-feather name="check-circle" class="text-success-500" style="width: 80px; height: 80px;"></i-feather>
      <h2 class="text-3xl my-2">Submission Successful! 🚀</h2>
      <p class="text-gray-500">We've received your request and are excited to get you started. We will be in contact to guide you through the next steps.</p>
    </div>
  </ng-container>
</div>

<div *ngIf="!product" class="h-full flex flex-col items-center justify-center gap-6">
  <i-feather name="info"></i-feather>
  <i-feather name="alert-triangle" class="text-red-600" style="width: 48px; height: 48px;"></i-feather>
  <div class="text-center">
    <p class="text-2xl">Oops! Something is missing.</p>
    <small>The requested product is absent from the URL. Please verify the link's accuracy and try again.</small>
  </div>
  <button (click)="goBackHome()" class="bg-primary py-2 px-4 text-sm text-white rounded-md">Go Back</button>
</div>
