<div class="mb-10">
  <h1 class="text-3xl">Business Info</h1>
  <p class="text-slate-400">Now, let's learn about your business.</p>
</div>

<form [formGroup]="form">
  <h6 class="text-lg">What is the approximate average monthly value of all transactions processed by your business?
  </h6>
  <p class="text-slate-400">This information helps us understand the scale of your business and tailor our services
    accordingly.</p>
  <br>
  <div class="grid grid-cols-3 gap-4">
    <button type="button" class="text-left" (click)="setAverageMonthlyTrans('growing')">
      <div class="card shadow-none border flex items-center hover:shadow-md"
        [ngClass]="{'border-gold': averageMonthlyTransCategory == 'growing'}">
        <div>
          <i-feather name="trending-up" class="text-gold"></i-feather>
        </div>
        <div class="ml-4">
          <p class="text-lg text-gold">Growing</p>
          <p>Under <b>GHS 5,000</b></p>
        </div>
      </div>
    </button>
    <button type="button" class="text-left" (click)="setAverageMonthlyTrans('established')">
      <div class="card shadow-none border flex items-center hover:shadow-md"
        [ngClass]="{'border-gold': averageMonthlyTransCategory == 'established'}">
        <div>
          <i-feather name="award" class="text-gold"></i-feather>
        </div>
        <div class="ml-4">
          <p class="text-lg text-gold">Established</p>
          <p> <b>GHS 5,000</b> - <b>GHS 15,000</b> </p>
        </div>
      </div>
    </button>

    <button type="button" class="text-left" (click)="setAverageMonthlyTrans('matured')">
      <div class="card shadow-none border flex items-center hover:shadow-md"
        [ngClass]="{'border-gold': averageMonthlyTransCategory == 'matured'}">
        <div>
          <i-feather name="star" class="text-gold"></i-feather>
        </div>
        <div class="ml-4">
          <p class="text-lg text-gold">Matured</p>
          <p>Above <b>GHS 15,000</b></p>
        </div>
      </div>
    </button>
  </div>
  <br><br>

  <div class="grid grid-cols-3">
    <div class="col-span-1 flex justify-center items-center">
      <div>
        <button 
          type="button" (click)="fileUploadInput.click()"
          class="border rounded-full border-2 hover:shadow-md mb-1"
          [ngClass]="{ 'p-12': !avatarImage }"
        >
          <img *ngIf="avatarImage" [src]="avatarImage" alt="Uploaded Logo" style="width: 145px; height: 145px;" class="rounded-full object-cover">
          <i-feather *ngIf="!avatarImage" name="image" style="width: 40px; height: 40px;" class="text-slate-500"></i-feather>
          <input type="file" #fileUploadInput hidden accept="image/*" (change)="onFileSelected($event)">
        </button>
        <small class="block text-center">Upload Logo</small>
        <small class="text-gold" *ngIf="getFormControl('logo').dirty && getFormControl('logo').touched && getFormControl('logo').invalid && getFormControl('logo').hasError('required')">Business logo is required</small>
      </div>
    </div>
    <div class="grid grid-cols-2 col-span-2 gap-x-4 gap-y-6">
      <div>
        <form-input [type]="'text'" [label]="'Name'" [placeholder]="'Your Business Name'"
          [controlName]="'business_name'" [group]="form"></form-input>
        <small class="text-gold" *ngIf="getFormControl('business_name').dirty && getFormControl('business_name').touched && getFormControl('business_name').invalid && getFormControl('business_name').hasError('required')">Business name is required</small>
      </div>
      <div>
        <form-input [type]="'text'" [label]="'Trade Name'" [placeholder]="'Your Business Trade Name'"
          [controlName]="'trade_name'" [group]="form"></form-input>
        <small class="text-gold" *ngIf="getFormControl('trade_name').dirty && getFormControl('trade_name').touched && getFormControl('trade_name').invalid && getFormControl('trade_name').hasError('required')">Trade name is required</small>
      </div>
      <div>
        <label class="block">
          <span class="block font-medium text-slate-700">Country of Operation<span class="text-gold">*</span></span>
        </label>
        <ng-select [placeholder]="'Select Country'" formControlName="country_of_operation" [searchable]="true"
          [clearable]="false" [items]="countries" bindValue="name" bindLabel="name" class="mt-1">
          <ng-template ng-option-tmp let-item="item" let-index="index">
            {{item.flag}}
            {{item.name}}
          </ng-template>
          <ng-template ng-label-tmp let-item="item">
            {{item.flag}}
            {{item.name}}
          </ng-template>
        </ng-select>
        <small class="text-gold" *ngIf="getFormControl('country_of_operation').dirty && getFormControl('country_of_operation').touched && getFormControl('country_of_operation').invalid && getFormControl('country_of_operation').hasError('required')">Country of operation is required</small>
      </div>
      <div>
        <label class="block">
          <span class="block font-medium text-slate-700">Type of Business<span class="text-gold">*</span></span>
        </label>
        <ng-select [placeholder]="'Select a type'" formControlName="company_type" [searchable]="true"
          [clearable]="false" [items]="companyTypes" class="mt-1">
        </ng-select>
        <small class="text-gold" *ngIf="getFormControl('company_type').dirty && getFormControl('company_type').touched && getFormControl('company_type').invalid && getFormControl('company_type').hasError('required')">Type of business is required</small>
      </div>
      <div>
        <form-input [type]="'text'" [label]="'Digital Address'" [placeholder]="'XX-XXX-XXXX'"
          [controlName]="'digital_address'" [group]="form"></form-input>
        <small class="text-gold" *ngIf="getFormControl('digital_address').dirty && getFormControl('digital_address').touched && getFormControl('digital_address').invalid && getFormControl('digital_address').hasError('required')">Digital address is required</small>
      </div>
      <div>
        <label class="block">
          <span class="block font-medium text-slate-700">Categories<span class="text-gold">*</span></span>
        </label>
        <ng-select [placeholder]="'Add Product Tags'" formControlName="categories" [searchable]="true"
          [clearable]="false" [items]="productTags" class="mt-1">
        </ng-select>
        <small class="text-gold" *ngIf="getFormControl('categories').dirty && getFormControl('categories').touched && getFormControl('categories').invalid && getFormControl('categories').hasError('required')">Category is required</small>
      </div>
      <div [ngClass]="{'col-span-full': averageMonthlyTransCategory != 'matured'}">
        <form-input [type]="'text'" [label]="'Postal Address'" [placeholder]="'Postal Address'"
          [controlName]="'postal_address'" [group]="form"></form-input>
      </div>
      <ng-container *ngIf="averageMonthlyTransCategory == 'matured'">
        <div>
          <form-input [type]="'text'" [label]="'Registration No.'" [placeholder]="'...'"
            [controlName]="'registration_number'" [group]="form"></form-input>
          <small class="text-gold" *ngIf="getFormControl('registration_number').dirty && getFormControl('registration_number').touched && getFormControl('registration_number').invalid && getFormControl('registration_number').hasError('required')">Registration number is required</small>
        </div>
        <div>
          <form-input [type]="'text'" [label]="'TIN'" [placeholder]="'...'" [controlName]="'tin'"
            [group]="form"></form-input>
          <small class="text-gold" *ngIf="getFormControl('tin').dirty && getFormControl('tin').touched && getFormControl('tin').invalid && getFormControl('tin').hasError('required')">Tin number is required</small>
        </div>
        <div>
          <form-input [type]="'text'" [label]="'Date of Incorporation'" [placeholder]="'...'"
            [controlName]="'date_of_incorporation'" [group]="form"></form-input>
          <small class="text-gold" *ngIf="getFormControl('date_of_incorporation').dirty && getFormControl('date_of_incorporation').touched && getFormControl('date_of_incorporation').invalid && getFormControl('date_of_incorporation').hasError('required')">Date of incorporation is required</small>
        </div>
      </ng-container>
    </div>
  </div>

  <br>
  <div class="text-right">
    <button class="btn border border-primary shadow-none mr-5" (click)="wizardService.moveToPrevSection()">
      Back
    </button>
    <button class="btn bg-gradient-primary-to-accent text-white" (click)="onNavNext()">
      Next
    </button>
  </div>
</form>