<div class="mb-10">
  <h1 class="text-3xl">Documents</h1>
  <p class="text-slate-400">Please upload the necessary documents in the corresponding categories.</p>
  <small class="text-sm text-gold">
    You can upload images and PDF files. Maximum file size: <span class="text-accent">10MB</span> per category</small>
</div>

<form [formGroup]="form">
    <ng-container *ngFor="let category of documentCategories | keyvalue">
      <div class="card border mb-3 p-3">
        <div class="flex justify-between items-center">
          <div class="flex items-center">
            <div class="mr-3">
              <img src="assets/images/pdf.png" alt="PDF Icon" style="width: 30px;" class="object-cover">
            </div>
            <div>
              <p class="text-sm leading-3">{{ category.value }}</p>
              <small class="text-accent mt-0" *ngIf="uploadedFiles[category.key]">
                {{ uploadedFiles[category.key].name }}
              </small>
              <small class="text-red-600 mt-0" *ngIf="fileValidationTriggered && !uploadedFiles[category.key]">
                You forgot to upload a file
              </small>
            </div>
          </div>
          <div>
            <button *ngIf="!uploadedFiles[category.key]" (click)="fileUploader.click()" class="btn border border-primary shadow-none px-3 py-1 text-sm me-2">
              <input type="file" name="fileUploader" accept=".pdf" hidden #fileUploader (change)="onFileSelected($event, category)">
              Upload
            </button>
            <span *ngIf="uploadedFiles[category.key]"><i-feather (click)="removeFile(category.key)" name="Trash2" class="cursor-pointer text-red-500"></i-feather></span>
          </div>
        </div>
      </div>
    </ng-container>
    
    <br>
    <div class="text-right">
      <button class="btn border border-primary shadow-none mr-5" (click)="wizardService.moveToPrevSection()">
        Back
      </button>
      <button 
        class="btn bg-gradient-primary-to-accent text-white" 
        (click)="onNavNext();">
        Next
        </button>
    </div>
</form>