<h1 class="text-2xl font-bold text-gray-800 mb-6">List of Required Documents For Tier {{ getTierNumber() }}</h1>
<div class="grid grid-cols-2 gap-x-6">
  <div class="mb-8">
    <div class="text-gray-600 border rounded-lg p-4 space-y-4">
      <div>
        <h2 class="text-lg font-semibold text-gray-700 mb-2">Type of Document</h2>
        <hr />
      </div>
      <ng-container *ngFor="let category of availableCategoriesCopy; let isLast = last">
        <div class="space-y-1">
          <p class="font-medium">
            {{ category.description }}
            <span *ngIf="category.required" class="text-red-600 text-xl">*</span>
          </p>
          <div *ngIf="uploadedFiles[category.code]" class="flex items-center">
            <span class="text-blue-600 text-sm truncate max-w-[80%]">
              {{ uploadedFiles[category.code]?.name }}
            </span>
            <div class="transform scale-50 ml-3" (click)="removeFile(category.code)">
              <i-feather name="Trash2" class="text-red-600 cursor-pointer"></i-feather>
            </div>
          </div>
          <div *ngIf="fileValidationTriggered && category.required && !uploadedFiles[category.code]"
            class="text-red-600 text-sm font-medium">
            You forgot to upload a file
          </div>
          <hr *ngIf="!isLast" class="mt-2" />
        </div>
      </ng-container>
    </div>
  </div>
  <div class="mb-8">
    <label class="block text-gray-700 font-medium mb-2">Select The Type of Document To Upload</label>
    <ng-select [items]="availableCategories" bindLabel="description" placeholder="-- Select Document Type --"
      [(ngModel)]="selectedCategory" (change)="onSelectCategory($event)"
      class="border-gray-300 focus:ring-blue-500 focus:border-blue-500 rounded-md">
    </ng-select>
    <div class="border-2 border-dashed rounded-lg p-8 text-center cursor-pointer transition-colors duration-200 mt-5"
      [ngClass]="{
      'border-gray-300 hover:border-blue-400': selectedCategory,
      'border-red-300 hover:border-red-500': !selectedCategory
    }" (click)="fileUploader.click()">
      <div class="flex flex-col items-center justify-center">
        <i-feather name="upload" class="h-12 w-12 text-gray-400 mb-3"></i-feather>
        <p class="text-gray-600 mb-1">Upload a pdf or image</p>
      </div>
      <input #fileUploader type="file" class="hidden" accept=".pdf, image/*" [disabled]="!selectedCategory"
        (change)="onFileSelected($event, selectedCategory)">
    </div>
  </div>
</div>
<div class="text-right">
  <button class="btn border border-primary shadow-none mr-5" (click)="wizardService.moveToPrevSection()">
    Back
  </button>
  <button class="btn bg-gradient-primary-to-accent text-white" (click)="onNavNext();">
    Next
  </button>
</div>