
<div class="mt-20 grid grid-cols-1">
  <div class="justify-self-center fixed">
    <div class="flex justify-center">
      <img src="assets/images/ITC Logo white-01.png" alt="" width="200">
    </div>
    <br><br><br>
    <div class="text-center mt-32">
      <h1 class="text-4xl text-white">Merchant Onboarding</h1>
      <br>
      <div class="uppercase text-gold flex justify-center items-center font-medium">
        <img src="assets/images/product-icon.png" alt="" width="25">
          <p class="ml-2">Uniwallet Integration</p>
      </div>
    </div>
  </div>
</div>