<div class="relative grid grid-cols-1">
  <div class="sticky min-h-screen flex flex-col">
    <div class="absolute top-10 left-1/2 transform -translate-x-1/2">
      <img src="assets/images/ITC Logo white-01.png" alt="" width="200" loading="lazy">
    </div>
    <div class="flex-1 flex flex-col justify-center gap-2.5 text-white">
      <p class="text-center">Welcome to the</p>
      <p class="text-4xl text-center">Merchant Onboarding</p>
    </div>
    <img src="assets/images/sidebar-bg.svg" alt="" loading="lazy">
  </div>
</div>
